/* Style for the article title */
.article-title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10px 0 5px 0;
}

/* Style for the article description */
.article-description-label {
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-text-fill: #7f8c8d;
    -fx-padding: 5px 0;
}

/* Style for the article content */
.article-content-label {
    -fx-font-size: 16px;
    -fx-text-fill: #34495e;
    -fx-padding: 10px 0;
    -fx-wrap-text: true;
    -fx-pref-width: 560px;
    -fx-line-spacing: 1.5;
}

/* Container to make sure the content is well spaced */
.AnchorPane {
    -fx-background-color: #ecf0f1;
    -fx-padding: 20px;
}

/* Label for the description */
.Label {
    -fx-background-color: transparent;
}

/* Add some margin for the whole window */
.root {
    -fx-padding: 15px;
}

/* Add some spacing between the components */
.article-title-label,
.article-description-label,
.article-content-label {
    -fx-margin-bottom: 15px;
}

.welcome-name-label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #2e61c1;
}

#backButton {
    -fx-background-color: transparent;
    -fx-text-fill: #3498db;
    -fx-underline: true;
    -fx-cursor: hand;
}

/* Like and Dislike Button Styles */
#likeButton, #dislikeButton {
    -fx-background-color: #2e61c1;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Hover effect for Like and Dislike buttons */
#likeButton:hover, #dislikeButton:hover {
    -fx-background-color: #3498db;
}

/* Active state for the Like button (when clicked) */
#likeButton:disabled {
    -fx-background-color: #388E3C;
    -fx-text-fill: #ffffff;
}

/* Active state for the Dislike button (when clicked) */
#dislikeButton:disabled {
    -fx-background-color: #D32F2F;
    -fx-text-fill: #ffffff;
}

/*For delete button*/
#deleteButton, #deleteUserButton {
    -fx-background-color: #2e86c1;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 8px 16px;
}

#deleteButton:hover, #deleteUserButton{
    -fx-background-color: #21618c;
}


.article-url-label {
    -fx-background-color: transparent;
    -fx-text-fill: #3498db;
    -fx-underline: true;
    -fx-cursor: hand;
}