/* Specific style for the title label */
.title-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2e86c1;
    -fx-alignment: center;
}

/* Styles for buttons */
.button {
    -fx-background-color: #2e86c1;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #1a5276;
}

/* Style for Sign-Up Button */
#signUpFinalButton {
    -fx-background-color: #3498db;
}

#signUpFinalButton:hover {
    -fx-background-color: #2874a6;
}

/* Style for Sign-In Button */
#signInCreateAccountButton {
    -fx-background-color: transparent;
    -fx-text-fill: #3498db;
    -fx-underline: true;
    -fx-cursor: hand;
}
